[submodule "libhttp"]
	path = libhttp
	url = https://github.com/lammertb/libhttp.git
[submodule "onion"]
	path = onion
	url = https://github.com/davidmoreno/onion.git
[submodule "snowball"]
	path = snowball
	url = https://github.com/snowballstem/snowball.git
